{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "process": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx",
          ".json"
        ],
        "moduleDirectory": [
          "node_modules",
          "src/"
        ]
      }
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:react/recommended",
    "plugin:cypress/recommended"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "react-hooks",
    "cypress"
  ],
  "rules": {
    "semi": [
      "warn",
      "always"
    ],
    "semi-spacing": [
      "warn",
      {
        "before": false,
        "after": true
      }
    ],
    "quotes": [
      "warn",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used",
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ],
    "no-multiple-empty-lines": [
      "warn",
      {
        "max": 1
      }
    ],
    "no-trailing-spaces": [
      "warn"
    ],
    "no-else-return": [
      "warn"
    ],
    "no-duplicate-imports": [
      "error",
      {
        "includeExports": true
      }
    ],
    "keyword-spacing": [
      "warn",
      {
        "before": true,
        "after": true
      }
    ],
    "jsx-quotes": [
      "warn",
      "prefer-single"
    ],
    "key-spacing": [
      "warn",
      {
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "no-absolute-path": 0,
    "no-throw-literal": 0,
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "object-curly-spacing": [
      "warn",
      "always"
    ],
    "react/jsx-sort-props": [
      "warn",
      {
        "callbacksLast": false,
        "shorthandFirst": false,
        "shorthandLast": false,
        "ignoreCase": false,
        "noSortAlphabetically": false,
        "reservedFirst": true
      }
    ],
    "no-debugger": "warn",
    "no-inline-comments": "warn",
    "no-warning-comments": "off",
    "react/jsx-max-props-per-line": [
      "warn",
      {
        "maximum": 1,
        "when": "always"
      }
    ],
    "max-len": [
      "warn",
      {
        "code": 120,
        "ignoreStrings": true
      }
    ],
    "no-console": "warn",
    "comma-dangle": [
      "warn",
      "always-multiline"
    ],
    "jsx-a11y/label-has-associated-control": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ],
    "react/no-set-state": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "prefer-promise-reject-errors": "off",
    "camelcase": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/member-delimiter-style": "warn",
    "cypress/no-assigning-return-values": "error",
    "cypress/no-unnecessary-waiting": "error",
    "cypress/assertion-before-screenshot": "warn",
    "cypress/no-force": "warn",
    "cypress/no-async-tests": "error",
    "cypress/no-pause": "error"
    // "react-hooks/rules-of-hooks": "error"
  },
  "ignorePatterns": [
    "config/",
    "node_modules/",
    "scripts/"
  ]
}
